@font-face {
  font-family: "Gotham";
  src: url(./Fonts/Gotham-Bold.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(./Fonts/Gotham-Black.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(./Fonts/Gotham-Light.otf) format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url(./Fonts/Gotham-Medium.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url(./Fonts/GothamBook.ttf) format("opentype");
  font-weight: 200;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Gotham";
}

a {
  text-decoration: none;
}

.div-verde {
  height: 405px;
  background-color: #007f98;
  padding: 0 10px;
}

.img-banner {
  width: 100%;
  margin-bottom: -5px;
}

.div-conteudo {
  height: 313px;
  max-width: 1118px;
  background-color: #fff;
  margin: 0 auto;
  transform: translateY(-50px);
  display: flex;
  justify-content: space-around;
  -webkit-box-shadow: 0px 9px 22px 8px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 9px 22px 8px rgba(0, 0, 0, 0.23);
}

.paragrafo-branco {
  font-size: 1.2em;
  font-weight: 400;
  color: rgb(66, 66, 66);
}

.img-001-institucional {
  display: flex;
  align-items: center;
  margin-right: 2em;
  cursor: pointer;
}

.img-002-institucional {
  display: flex;
  align-items: center;
  margin-right: 2em;
  cursor: pointer;
}

.img-icon {
  margin-right: 2em;
}

.dados-verita-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 543px;
}

.paragrafo-conteudo-dados {
  font-size: 1.8em;
  font-weight: 300;
  text-align: center;
  margin-top: 0.6em;
  color: #666666;
}

.texto-span-bold {
  font-weight: 800;
}

.dados-verita-pesquisas,
.dados-verita-entrevistas,
.dados-verita-indice {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.footer-verita {
  background-color: rgb(230, 230, 230);
  min-height: 616px;
  padding: 90px 160px;
  display: flex;
  justify-content: space-between;
}

.logo-verita {
  max-width: 350px;
}

.instagram-rodape {
  display: flex;
  align-items: center;
  gap: 40px;
}

.instagram-rodape > p {
  font-weight: 300;
  color: #666666;
}
.container-rodape-logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-rodape-info > p {
  text-align: right;
  font-weight: 300;
  margin-bottom: 20px;
  color: #666666;
}

.container-rodape-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.copyright {
  text-align: right;
  font-weight: 300;
  color: #666666;
}

/* Mobile */

@media (max-width: 600px) {
  /* Conteudo */

  .div-conteudo {
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }

  .dados-verita-container {
    flex-direction: column;
    padding: 100px 0;
  }

  .dados-verita-pesquisas,
  .dados-verita-entrevistas,
  .dados-verita-indice {
    margin-bottom: 70px;
  }

  .img-001-institucional,
  .img-002-institucional {
    margin: 0;
  }

  .img-icon {
    margin-right: 10px;
  }

  /* Footer */
  .footer-verita {
    display: inline-block;
    padding: 10px;
  }

  .container-rodape-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 40px 0;
  }

  .container-rodape-info {
    display: inline-block;
  }

  .div-rodape-info > p {
    text-align: center;
  }

  .copyright {
    text-align: center;
  }

  .logo-verita {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
